@model List<Empleado>


<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">Título del Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
               <div class="row">

                    <div class="col-sm-8 offset-sm-2">
                        <h2>Editar Empleado</h2>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Lista Empleados</h2>
        <a asp-controller="Empleado" asp-action="Nuevo" class="btn btn-success mb-3">Nuevo</a>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre Completo</td>
                    <td>Correo</td>
                    <td>Fecha de Contrato</td>
                    <td>Activo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.IdEmpleado</td>
                        <td>@item.NombreCompleto</td>
                        <td>@item.Correo</td>
                        <td>@item.FechaContrato.ToString("dd/MM/YYYY")</td>
                        <td>@(item.Activo?"SI":"NO")</td>
                        <td>
                            <a asp-controller="Empleado"
                               asp-action="Editar" asp-route-id="@item.IdEmpleado" class="btn btn-primary">Editar</a>

                            <a asp-controller="Empleado"
                               asp-action="Eliminar" asp-route-id="@item.IdEmpleado" class="btn btn-danger" data-swal-toast-template="#my-template" >Eliminar</a>

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">
                                Abrir Modal
                            </button>

                        </td>


                    </tr>

                }
            </tbody>
        </table>

    </div>

</div>


  @section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  

    <script>

        const myModal = document.getElementById('modal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('modal', () => {
            myInput.focus()
        })
  
    </script>
   

  }